#Common
alias cls="clear"
alias md="mkdir"
alias xcopy="cp"

#Colors in manpages
man() {
    env \
            LESS_TERMCAP_mb=$(printf "\e[1;31m") \
            LESS_TERMCAP_md=$(printf "\e[1;31m") \
            LESS_TERMCAP_me=$(printf "\e[0m") \
            LESS_TERMCAP_se=$(printf "\e[0m") \
            LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
            LESS_TERMCAP_ue=$(printf "\e[0m") \
            LESS_TERMCAP_us=$(printf "\e[1;32m") \
            LANG='' \
                    man "$@"
}

#Laravel
alias artisan="php artisan"
alias serve="php artisan serve"
alias migrate="php artisan migrate"
alias rollback="php artisan migrate:rollback"
alias refresh="php artisan migrate:refresh"
alias reset="php artisan migrate:reset"
alias seed="php artisan db:seed"
alias tinker="php artisan tinker"

#Homestead
function homestead() {
    sh -c "cd ${HOMESTEAD} && exec vagrant ${1}"
}
alias up="homestead up"
alias down="homestead halt"
alias provision="homestead provision"

#Network
alias wake="wakeonlan"

#Dumb-dumb needs to learn to use vim instead of nano
alias nano=vim

#Misc
alias edit-aliases="vim ${HOME}/.aliases && source ${HOME}/.aliases"
alias edit-global-aliases="vim ${CLI_CONF}/.aliases && source ${CLI_CONF}/.aliases"
alias syncplay="source activate syncplay && python ${SYNCPLAY}/syncplayClient.py > /dev/null & source deactivate"
