#Common
alias cls="clear"
alias md="mkdir"
alias xcopy="cp"
alias h="cd ${HOME}"

if [[ -d "${REPOS_PATH}" ]]; then
    alias repos="cd ${REPOS_PATH}"
    alias r="repos"
fi

#Colors in manpages
man() {
    env \
            LESS_TERMCAP_mb=$(printf "\e[1;31m") \
            LESS_TERMCAP_md=$(printf "\e[1;31m") \
            LESS_TERMCAP_me=$(printf "\e[0m") \
            LESS_TERMCAP_se=$(printf "\e[0m") \
            LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
            LESS_TERMCAP_ue=$(printf "\e[0m") \
            LESS_TERMCAP_us=$(printf "\e[1;32m") \
            LANG='' \
                    man "$@"
}

#Dumb-dumb needs to learn to use vim instead of nano
alias nano="vim"

#Start emacs in the terminal instead of a windows
alias emacs="emacs -nw"

if [ uname = "Darwin" ]; then
    #Make IntelliJ command line startable
    alias idea='open -a "$(ls -dt ${HOME}/Library/Application\ Support/JetBrains/Toolbox/apps/IDEA-U/ch-0/*/*.app|head -1)"'

    #iOS
    alias pod="bundle exec pod"
    alias fastlane="bundle exec fastlane"
    alias xcodeworkspace="open *xcw*"
    alias xcw="xcodeworkspace"
    alias clean-derived-data="rm -rf ${HOME}/Library/Developer/Xcode/DerivedData/*"
fi

#Docker
alias docker-prune='for CONTAINER in $(docker ps -a | tail -n +2  | cut -d" " -f1); do docker rm "${CONTAINER}"; done'
alias dprune="docker-prune"
alias dlog="docker logs"
alias dlogs="dlog"
alias dflog="docker logs -f"
function dflogs-all {
    for c in $(docker ps -a --format="{{.Names}}"); do
       docker logs -f $c > /tmp/$c.log 2> /tmp/$c.err &
    done
    tail -f /tmp/*.{log,err}
}
alias dflog-all="dflogs-all"

#Docker services
alias start-mongodb="docker run --rm --name=mongodb --network=mongo -d -p 27017:27017 -v \"${DOCKER_DATA_PATH}/mongodb:/data/db\" mongo:latest"
alias stop-mongodb="docker stop mongodb"
alias kill-mongodb="docker kill mongodb"
alias mongo="docker run --rm --name=mongo --network=mongo --link mongodb:mongodb -it mongo:latest mongo --host mongodb"
alias mongoimport="docker run --rm --network=mongo --link mongodb:mongodb -i mongo:latest mongoimport --host mongodb"
alias mongoexport="docker run --rm --network=mongo --link mongodb:mongodb -i mongo:latest mongoexport --host mongodb"
alias import-mongo='for COLLECTION in $(ls -1 *.json | sed "s/\.json//"); do echo "=== Importing `${COLLECTION}` into `${DB}` ..."; done; cat "${COLLECTION}.json" | mongoimport --db "${DB}" --collection "${COLLECTION}"; done'
alias start-postgres="docker run --rm --name=postgres --network=postgres -d -p 6432:5432 -e POSTGRES_HOST_AUTH_METHOD=trust -v \"${DOCKER_DATA_PATH}/postgres:/var/lib/postgresql/data\" postgres:12-alpine"
alias stop-postgres="docker stop postgres"
alias kill-postgres="docker kill postgres"
alias psql="docker run --rm --name=psql --network=postgres --link postgres:postgres -it postgres:12-alpine psql --host postgres --user postgres"
alias psqli="docker run --rm --name=psql --network=postgres --link postgres:postgres -i postgres:12-alpine psql --host postgres"

#Profile management
alias show-profile='if [ -z ${ACTIVATED_PROFILE} ]; then echo "No profile activated."; else echo "Activated profile: ${ACTIVATED_PROFILE}"; fi'
alias reset-env='foreach VAR in $(env | cut -d"=" -f1 | grep -v "PATH\|TERM_SESSION_ID\|SSH_AUTH_SOCK\|Apple_PubSub_Socket_Render\|COLORFGBG\|ITERM_PROFILE\|XPC_FLAGS\|LANG\|SHELL\|TERM*\|PWD\|DISPLAY\|HOME\|TMPDIR\|USER\|XPC_SERVICE_NAME\|LOGNAME\|__CF_USER_TEXT_ENCODING\|SHLVL" | sed -e "$ d"); unset $VAR; end; source "${HOME}/.zshrc"'

#Laravel
alias artisan="php artisan"
alias serve="php artisan serve"
alias migrate="php artisan migrate"
alias rollback="php artisan migrate:rollback"
alias refresh="php artisan migrate:refresh"
alias reset="php artisan migrate:reset"
alias seed="php artisan db:seed"
alias tinker="php artisan tinker"

#Config management
alias edit-vimrc="${EDITOR} ${HOME}/.vimrc"
alias edit-aliases="${EDITOR} ${HOME}/.aliases && source ${HOME}/.aliases"
alias edit-global-aliases="${EDITOR} ${CLI_CONF}/.aliases && source ${CLI_CONF}/.aliases"
alias edit-environment="${EDITOR} ${HOME}/.environment && source ${HOME}/.environment"
alias edit-global-environment="${EDITOR} ${CLI_CONF}/.environment && source ${CLI_CONF}/.environment"
alias edit-postsh="${EDITOR} ${HOME}/.postsh && source ${HOME}/.postsh"
alias edit-global-postsh="${EDITOR} ${CLI_CONF}/.postsh && source ${CLI_CONF}/.postsh"

#Misc
function tolower {
    echo "${1}" | awk '{print tolower($0)}'
}

# vi:syntax=sh

